* {
  overflow: hidden;
  margin: 0;
}

/* body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
} */

h1 {
  text-align: center;
}

p {
  text-align: center;
}

canvas {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0;
  /* border: 1px solid gray; */
}

h3 {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  border: 1px solid red;
}
